.navbar {
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 8%;
  background: white;
  box-shadow: 0 3px 15px rgba(0,0,0,0.08);
  position: sticky;
  top: 0;
  z-index: 1000;
}

/* LOGO */
.logo {
  font-size: 26px;
  font-weight: 800;
  color: #111;
  letter-spacing: 1px;
}

.logo span {
  color: #ff4141;
}

/* LINKS */
.nav-links {
  display: flex;
  gap: 35px;
}

.nav-links a {
  text-decoration: none;
  font-size: 17px;
  font-weight: 600;
  color: #333;
  position: relative;
  transition: all 0.3s ease;
}

.nav-links a:hover {
  color: #ff4141;
}

/* UNDERLINE HOVER EFFECT */
.nav-links a::after {
  content: "";
  width: 0%;
  height: 2px;
  background: #ff4141;
  position: absolute;
  bottom: -6px;
  left: 0;
  transition: 0.3s;
}

.nav-links a:hover::after {
  width: 100%;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .navbar {
    padding: 0 5%;
  }

  .nav-links {
    gap: 18px;
  }

  .logo {
    font-size: 22px;
  }
}

@media (max-width: 480px) {
  .nav-links {
    display: none;
  }
}
